.connect-card{
	position: relative;
	width: 343px;
	background-color: #222222;
	padding-bottom: 23px;
	border-radius: 10px;
	&__menu{
		display: flex;
		align-items: center;
		padding: 12px 16px;
		border-bottom: 1px solid #2B2B2B;
	}
	&__menu-text{
		margin-left: 65px;
		font-family: 'Inter';
		font-weight: 500;
		font-size: 16px;
		color: #FFFFFF;
	}
	&__menu-textgray{
		margin-left: 8px;
		font-family: 'Inter';
		font-weight: 500;
		font-size: 16px;
		color: #959595;
	}
	&__solscan-img{
		width: 78px;
		margin: 0 auto;
		margin-top: 41px;
		img{
			width: 100%;
		}
	}
	&__title{
		margin: 0;
		margin-top: 18px;
		font-family: 'Inter';
		font-weight: 500;
		font-size: 26px;
		text-align: center;
		color: #FFFFFF;
	}
	&__subtitle{
		margin-top: 7px;
		font-family: 'Inter';
		font-weight: 300;
		font-size: 16px;
		text-align: center;
		color: #959595;
	}
	&__line{
		border: 1px solid #2B2B2B;
		border-collapse: collapse;
		margin: 0px 20px;
		margin-top: 25px;
	}
	&__advantages{
		margin-top: 28px;
		margin-left: 34px;
	}
	&__advantages-title{
		font-family: 'Inter';
		font-weight: 300;
		font-size: 14px;
		color: #959595;
	}
	&__advantages-list{
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	&__advantages-list-item{
		display: flex;
		margin-top: 18px;
	}
	&__advantages-list-item-icon{
		width: 18px;
		img{
			width: 100%;
		}
	}	
	&__advantages-list-item-text{
		margin-left: 14px;
		font-family: 'Inter';
		font-weight: 400;
		font-size: 14px;
		color: #FFFFFF;
	}
	&__bottom-text{
		margin-top: 27px;
		margin-bottom: 18px;
		font-family: 'Inter';
		font-weight: 300;
		font-size: 14px;
		text-align: center;
		color: #959595;
	}
	&__buttons{
		margin: 0 20px;
		display: flex;
		text-align: center;
		justify-content: space-between;
	}
	&__bg-img{
		position: absolute;
		height: 570px;
		width: 486px;
		top: 0;
		left: 34px;
		img{
			width: 100%;
		}
	}
}