.promo{
	margin-top: 26px;
	&__wrapper{
		position: relative;
		background: url('../../img/solscan_nft_bg.jpg') center (center/cover) no-repeat;
		border-radius: 14px;
		padding: 34px 0 53px 35px;
	}
	&__text{
		width: 720px;
	}
	&__subtitle{
		font-family: 'Inter';
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		color: #FFFFFF;
	}
	&__title{
		margin-top: 7px;
		margin-bottom: 0;
		font-family: 'Inter';
		font-weight: 600;
		line-height: 39px;
		font-size: 32px;
		color: #FFFFFF;
	}
	&__descr{
		margin-top: 11px;
		font-family: 'Inter';
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		color: #FFFFFF;
		span{
			font-weight: 700;
		}
	}
	&__instructions{
		display: flex;
		align-items: flex-end;
		margin-top: 21px;
		font-family: 'Inter';
		font-weight: 600;
		font-size: 16px;
		cursor: pointer;
		color: #00E8B4;
	}
	&__instructions-text{
		margin-right: 6px;
	}
	&__img{
		position: absolute;
		right: 2.5%;
		top: -12px;
	}
}